<%- include('../partials/header') %>

    <body>
        <div id="addpro">
            <form action="" method="POST" class="">
                <input type="hidden" name="page" value="1">
                <div class="row my-3">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-1">
                        <label class="form-check-label" id="projectNama" name="projectNama">Nama Project
                    </div>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" placeholder="Nama Project .."
                            aria-label="default input example" name="pname" id="pname">
                    </div>
                </div>
                

                <% names.forEach((name)=>{ %>
                    <div class="row mb-3">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-8">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="namelist" id="namelist"
                                    value="<%=name.userid%>">
                                    <input type="text" name="position" hidden id="position" value="<%= name.position %>">
                                <label class="form-check-label" for="namelist">
                                    <%= name.firstname + ' ' + name.lastname %>
                                </label>
                               
                            </div>
                        </div>
                    </div>
                    <% }) %>
                    


                        <div class="row mb-3">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-1">
                                <input class="btn btn-primary" type="submit" value="Save">
                            </div>
                            <div class="col-sm-2">
                                <a href="/" class="btn btn-danger">Cancel</a>
                            </div>
                        </div>
            </form>
        </div>

    </body>

    </html>