<%- include('../partials/header') %>

    <body>
        <div id="addpro">
            <form action="" method="POST" class="">
                <input type="hidden" name="page" value="1">
                <div class="row my-3">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-1">
                        <label class="form-check-label" id="projectNama" name="projectNama">Nama Project
                    </div>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" placeholder="Nama Project .."
                            aria-label="default input example" name="pname" id="pname">
                    </div>
                </div>
                    <div class="row my-3">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-1">
                            <label class="form-check-label" id="projectNama" name="projectNama">Employees
                        </div>
                        <div class="col-sm-8">
                            <select class="form-select ;" aria-label="Default select example" id="namelist"
                                name="namelist">
                                <option selected hidden>Choose The Members</option>
                                <% names.forEach((name)=>{ %>
                                    <option value="<%= name.userid %>">
                                        <%= name.firstname + ' ' + name.lastname %>
                                    </option>
                                    <% }) %>
                            </select>
                        </div>
                    </div>
                  
                        <div class="row mb-3">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-8">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="idOpt" id="idOpt"
                                        value="Manager">
                                    <label class="form-check-label" for="idOpt">
                                         Manager
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-8">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="idOpt" id="idOpt"
                                        value="Software Developer">
                                    <label class="form-check-label" for="idOpt">
                                         Software Developer
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-8">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="idOpt" id="idOpt"
                                        value="Quality Assurance">
                                    <label class="form-check-label" for="idOpt">
                                         Quality Assurance
                                    </label>
                                </div>
                            </div>
                        </div>
                
                        <div class="row mb-3">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-1">
                                <input class="btn btn-primary" type="submit" value="Save">
                            </div>
                            <div class="col-sm-2">
                                <a href="/" class="btn btn-danger">Cancel</a>
                            </div>
                        </div>
            </form>
        </div>
        
    </body>

    </html>