<%- include('../partials/header') %>

<div class="row mb-3">
    <h2 style="font-family: monospace;"> Change Password </h2>
</div>

<form action="" method="POST">
<div class="row my-3">
    <div class="col-sm-1"></div>
    <div class="col-sm-1">
        <label for="Pass1">Password</label>
    </div>
    <div class="col-sm-8">
        <input class="form-control" type="password" placeholder="Password ..."
            aria-label="default input example" name="pass1" id="pass1">
    </div>
</div>
<div class="row my-3">
    <div class="col-sm-1"></div>
    <div class="col-sm-1">
        <label for="Pass2">New Password</label>
    </div>
    <div class="col-sm-8">
        <input class="form-control" type="password" placeholder="Password ..."
            aria-label="default input example" name="pass2" id="pass2">
    </div>
</div>
<div class="row my-3">
    <div class="col-sm-1"></div>
    <div class="col-sm-1">
        <label for="Pass3">Retype Password</label>
    </div>
    <div class="col-sm-8">
        <input class="form-control" type="password" placeholder="Password ..."
            aria-label="default input example" name="pass3" id="pass3">
    </div>
</div>
<div class="row mb-3">
    <div class="col-sm-1"></div>
    <div class="col-sm-1">
        <input class="btn btn-primary" type="submit" value="Save Password">
    </div>
    <div class="col-sm-2">
        <a href="/profile" class="btn btn-danger">Cancel</a>
    </div>
</div>
<% if(info.length > 0) { %>
    <div class="alert alert-danger" role="alert">
     <%= info %>
    </div>
    <% } %>
  

</form>
    
      


<%- include('../partials/footer') %>